<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
  <style>
    html,body{
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="root">
  </div>
</body>
